<%= form_for(grocery_item) do |f| %>
  <% if grocery_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grocery_item.errors.count, "error") %> prohibited this grocery_item from being saved:</h2>

      <ul>
      <% grocery_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
