<%= render "shared/navbars" %>
<div class="container">
  <div class="row">
    <%= render "shared/sidebar" %>

    <div class="col-md-10">
      <div id="midCol" data-spy="affix" data-offset-top="300">
        <div><h1>New Grocery Item</h1></div>

        <%= render 'form', grocery_item: @grocery_item %>

        <%= link_to 'Back', grocery_lists_path %>
      </div>
    </div>

  </div>
</div>