<%= render "shared/navbars" %>
<div class="container">
  <div class="row">
    <%= render "shared/sidebar" %>

    <div class="col-md-10">
      <div id="midCol" data-spy="affix" data-offset-top="300">
        
        <script>
        <%=if !GroceryList.exists?(user: current_user.id) 
            #redirect_to new_grocery_list_path 
          
          

           end %>
        </script>
        
        
        
        
        <div>
          <h2>Groceries</h2>
          <%= link_to 'Add Grocery Item', new_grocery_item_path %>
        </div>

        <div class="well">
          <h3>My Groceries</h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Item</th>
              <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Item A</td>
              <td>XX</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>