<h1>New Grocery List</h1>


        <!--%= @grocery_list = GroceryList.new %>-->
        <!--%= puts "#{current_user}" %>-->
        <!--%= form_for @grocery_list do |f| %>-->
        <!--    %= @user = current_user %>-->
        <!--    %= f.hidden_field @user = :user %>-->
            
        <!--    %= f.submit %>-->
        <!--% end %>-->
       

<%= puts "#{@user}" %>


<%= render 'form', grocery_list: @grocery_list %>

<%= link_to 'Back', grocery_lists_path %>
