  <div class="col-md-2">
    <ul id="sidebar" class="nav nav-stacked affix">
      <li><%= link_to 'Chores', chores_path %></li>
      <li><%= link_to 'Bills', bills_path %></li>
      <li><%= link_to 'Groceries', grocery_lists_path %></li>
      <li><%= link_to 'Household', households_path %></li>
    </ul>
  </div>
