<%= render "shared/navbars" %>
<div class="container">
  <div class="row">
    <%= render "shared/sidebar" %>

    <div class="col-md-10">
      <div id="midCol" data-spy="affix" data-offset-top="300">
        <div>
          <h2>Bills</h2>
          <%= link_to 'Add Bill', new_bill_path %>
        </div>

        <div class="well">
          <h3>Rent</h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Roommate</th>
              <th>Amount</th>
              <th>Due Date</th>
              <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Chris</td>
              <td>$375.00</td>
              <td>2016-12-29 23:59:59 UTC</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td>Luke</td>
              <td>$375.00</td>
              <td>2016-12-29 23:59:59 UTC</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td>Steven</td>
              <td>$375.00</td>
              <td>2016-12-29 23:59:59 UTC</td>
              <td>Unpaid</td>
            </tr>
            <tr>
              <td>Harrison</td>
              <td>$375.00</td>
              <td>2016-12-29 23:59:59 UTC</td>
              <td>Unpaid</td>
            </tr>
            </tbody>
          </table>
          <button>Edit Bill</button>
        </div>

        <div class="well">
          <h3>Utilities</h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Roommate</th>
              <th>Amount</th>
              <th>Due Date</th>
              <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Chris</td>
              <td>$86.34</td>
              <td>2016-12-29 23:59:59 UTC</td>
              <td>Unpaid</td>
            </tr>
            <tr>
              <td>Luke</td>
              <td>$86.34</td>
              <td>2016-12-29 23:59:59 UTC</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td>Steven</td>
              <td>$86.34</td>
              <td>2016-12-29 23:59:59 UTC</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td>Harrison</td>
              <td>$86.34</td>
              <td>2016-12-29 23:59:59 UTC</td>
              <td>Unpaid</td>
            </tr>
            </tbody>
          </table>
          <button>Edit Bill</button>
        </div>

      </div>
    </div>

  </div>
</div>