<h1>New Household User</h1>

Invite Roommates! <br />
<input id="email" name="email" placeholder="Enter email address" type="text" />

<%= text_field_tag(:query) %>

<%= link_to "send", invite_send_households_path, {:email => "christopher-choi@uiowa.edu"} %>



<%= render 'form', household_user: @household_user %>



<%= link_to 'Back', household_users_path %>
