<h1>New Household User</h1>

Invite Roommates! <br />
<input id="email" name="email" placeholder="Enter email address" type="text" />


<%= link_to "send", households_users_path  %>



<%= render 'form', household_user: @household_user %>



<%= link_to 'Back', household_users_path %>
