<h1>Invite a Roommate!</h1>

<%= form_for @household_user, :url => invite_send_household_users_path do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
      <div class="actions">
    <%= f.button :submit %>
      </div>
    
    
  </p>
<% end %>



