<h1> Hello!</h1>
<h2> You have been invited to join a household: <%=@house%> with a household key: <%=@code%></h2>

<h3> Please use the house and key above to sign up here:  _______________________ </h3>