<h1>Roommate Portal</h1>
<p>Use this web application to communicate schedules, finances, to-do lists and more between you and your roommates

Some Changes</p>
<h1>Roommate Portal</h1>
<p>Use this web application to communicate schedules, finances, to-do lists and more between you and your roommates</p>
