<h1>New Household</h1>

Invite Roommates! <br />
<input id="email" name="email" placeholder="Enter email address" type="text" />

<div class="button">
  <%= link_to "send", invite_send_households_path  %>
</div>

<%= render 'form', household: @household %>

<%= link_to 'Back', households_path %>
